body{
    margin: 0;
    padding: 0;
    background-color: grey;
    
}

h1{
    text-align: center;
    text-decoration: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    border-bottom: 4px solid black;
}

h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

h4{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.product{
    text-align: center;
    width: 30%;
    margin: 0 auto 20px;
    margin-bottom: 10px;
    padding: 20px;
    border-top: 2px solid black;
    border-width:thick;
}

.product img{
    max-width: 100%;
    height: auto;
    max-height: 200px;
    margin-bottom: 10px;   
}

.product button{
    display: block;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
}

.listaDeCompras {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-decoration: solid;
}

.listaDeCompras button{
    display: block;
    font-size: 20px;
}

#container carrito {
    display: block;
    margin: auto;
    position:fixed;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: #f4f8fab9;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    font-size: 20px;

    
}

#container comprar{
    display: block;
    margin: auto;
    position:fixed;
    top: 30px;
    right: 5px;
    cursor: pointer;
    background-color: #f4f8fab9;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    font-size: 20px;
}

#container quitar{
    display: block;
    margin: auto;
    position:fixed;
    top: 55px;
    right: 5px;
    cursor: pointer;
    background-color: #f4f8fab9;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    font-size: 20px;
}

button:hover,
#container carrito:hover,
#container comprar:hover,
#container quitar:hover {
    background-color: #31aafc;
    border: 1px solid #31aafc;
}
