.color-fondo{
    background-color: rgb(138, 138, 138);
}

.inicio{
    background-color:#31aafc;
    text-align: center;
    text-decoration: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    border-bottom: 5px solid black;
    display:block;

}

h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

nombreProducto{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-decoration: solid black;
    display: block;
    margin-bottom: 20px;
}

precioProducto{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-decoration: solid black;
    display: block;
    margin-bottom: 20px;
}

p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.product{
    text-align: center;
    width: 30%;
    margin: 0 auto 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

img{
    max-width: 100%;
    height: auto;
    max-height: 200px;
    margin-bottom: 10px;   
}

body .btn-primary{
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    background-color: #31aafc;
}

body .btn-secondary{
    position: absolute;
    margin: auto;
    top: 20px;
    right: 60px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    font-size: 15px;
    background-color: rgb(138, 138, 138);
    color: black;
}

.listaDeCompras {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-decoration: solid;
}

.listaDeCompras button{
    display: block;
    font-size: 20px;
}

#container .imgCarrito {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    position:absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    font-size: 20px;
}