.color-fondo{
    background-color: rgb(138, 138, 138);
}

h1{
    text-align: center;
    text-decoration: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    border-bottom: 4px solid black;
}

h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

h4{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.product{
    text-align: center;
    width: 30%;
    margin: 0 auto 20px;
    margin-bottom: 10px;
    padding: 20px;
    border-top: 2px solid black;
    border-width:thick;
}

.product img{
    max-width: 100%;
    height: auto;
    max-height: 200px;
    margin-bottom: 10px;   
}

body .btn-primary{
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    background-color: #31aafc;
}

body .btn-secondary{
    display:block;
    position: absolute;
    margin: auto;
    top: 110px;
    left: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    font-size: 15px;
    background-color: #31aafc;
    color:white
}

body .btn-terciary{
    display:block;
    position: absolute;
    margin: auto;
    top: 150px;
    left: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    font-size: 15px;
    background-color: #31aafc;
    color:white
}

.listaDeCompras {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-decoration: solid;
}

.listaDeCompras button{
    display: block;
    font-size: 20px;
}

#container .imgCarrito {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    position:absolute;
    top: 55px;
    left: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    font-size: 20px;
}
